<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cctv.langduzhe">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.Manifest.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".LangDuZheApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_Umeng_Push_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.mine.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />

        <!--消息详情页面-->
        <activity
            android:name=".feature.message.MessageDetailActivity"
            android:screenOrientation="portrait" />
        <!-- 编辑昵称和头像页面 -->
        <activity
            android:name=".feature.mine.EditUserInfoActivity"
            android:screenOrientation="portrait" />

        <!--阅读选择页面，背景半透明-->
        <activity
            android:name=".feature.read.ReadActivity"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />
        <!--录制视频页面-->
        <activity android:name=".feature.read.RecordVideoActivity" />

        <!--录制音频页面-->
        <activity android:name=".feature.read.RecordVoiceActivity" />

        <!-- 视频录制完成预览页面-->
        <activity
            android:name=".feature.read.VideoPreviewActivity"
            android:screenOrientation="portrait" />
        <!-- 音频录制完成预览页面-->
        <activity
            android:name=".feature.read.VoicePreviewActivity"
            android:screenOrientation="portrait" />

        <!-- 首页视频详情页面-->
        <activity
            android:name=".feature.home.HomeVideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 我的朗读页面-->
        <activity
            android:name=".feature.mine.MineReadActivity"
            android:screenOrientation="portrait" />

        <!-- 视频录制完成，保存或者上传页面-->
        <activity
            android:name=".feature.read.ReadOverActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />

        <!-- 朗读亭详情页面，包含音频视频两种情况-->
        <activity
            android:name=".feature.readPavilion.ReadPavilionDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />


        <!-- 我的收藏页面-->
        <activity
            android:name=".feature.mine.MineCollectionActivity"
            android:screenOrientation="portrait" />


        <!-- 录制音频完成页面-->
        <activity
            android:name=".feature.read.RecordVoiceOverActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />


        <!-- 输入评论页面-->
        <activity
            android:name=".feature.CommentActivity"
            android:theme="@style/transparent_activity" />

        <!-- 意见反馈页面-->
        <activity
            android:name=".feature.mine.FeedbackActivity"
            android:screenOrientation="portrait" />
        <!--我的投稿列表页-->
        <activity
            android:name=".feature.mine.MineContributeActivity"
            android:screenOrientation="portrait" />
        <!--提交新投稿页面-->
        <activity
            android:name=".feature.mine.AddContributeActivity"
            android:screenOrientation="portrait" />
        <!--文字详情列表页-->
        <activity
            android:name=".feature.articles.ArticleListActivity"
            android:screenOrientation="portrait" />
        <!--文字详情页-->
        <activity
            android:name=".feature.articles.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <!--朗读文字页面-->
        <activity
            android:name=".feature.read.ReadArticleActivity"
            android:screenOrientation="portrait" />

        <!--搜索朗读亭页面-->
        <activity
            android:name=".feature.readPavilion.SearchReadActivity"
            android:screenOrientation="portrait" />

        <!--关于我们页面-->
        <activity android:name=".feature.mine.AboutUsActivity"
            android:screenOrientation="portrait" />

        <!--微信登录分享页面-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 必选-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="6755c6a5d8f3a4d91e2eeed175f3bbf2" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cctv.langduzhe.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths_public" />
        </provider>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5aa783c8f29d9817a800013a"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="53a9cdc82870b2cb70eccbe51899183a"></meta-data>

        <service android:name=".umeng.PushIntentService" />
    </application>

</manifest>